[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyworld = "*"
scipy = "*"
matplotlib = "*"
opencv-contrib-python = "*"
torch = "*"
sklearn = "*"
pysptk = "*"
librosa = "*"

[requires]
python_version = "3.7"
